{% extends 'base.html' %}
{% block content %}
{% include 'withoutloginheader.html' %}
<div class="container my-5">
  <h3 class="my-5">Forgot Password</h3>
  <form method="POST" novalidate>
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label">{{ form.username.label_tag }}</label>
      {{ form.username }}
      <div class="my-2"style="color: red;">
        {{ form.username.errors }}
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">{{ form.newpassword.label_tag }}</label>
      {{ form.newpassword }}
      <div class="my-2"style="color: red;">
        {{ form.newpassword.errors }}
      </div>
    </div>
    <button type="submit" class="btn btn-danger">Reset</button>
  </form>
</div>
{% endblock %}