{% extends 'base.html' %}
{% block content %}
{% include 'headers.html' %}
<div class="roww">

  <div class="coll-6 border shadow">
      <span>See all post <a href="">click</a></span>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">
            Subheading
          </div>
          Content for list item
        </div>
        <span class="badge bg-info rounded-pill"><i class="bi bi-eye"></i>14</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">
            Subheading
          </div>
          Content for list item
        </div>
        <span class="badge bg-info rounded-pill"><i class="bi bi-eye"></i>14</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">
            Subheading
          </div>
          Content for list item
        </div>
        <span class="badge bg-info rounded-pill"><i class="bi bi-eye"></i>14</span>
      </li>
    </ol>
  </div>
  <div class="coll-4 border shadow">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Total like
        <span class="badge bg-primary rounded-pill"><i class="bi bi-hand-thumbs-up"></i>14</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Total views
        <span class="badge bg-primary rounded-pill"><i class="bi bi-eye"></i>2</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Followers 
        <span class="badge bg-primary rounded-pill"><i class="bi bi-people"></i>1</span>
      </li>
    </ul>
  </div>
</div>
{# include 'footer.html' #}
{% endblock %}